<!DOCTYPE html>
<html>
    <head>
        <title>Bootstrap Tutorial</title>

        <!-- Required tags to make the website responsive-->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Add Bootstrap CSS to the page -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

        <!-- My custom styles -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    </head>

    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6" style="background: lightblue">
                    <p>I am an instructor</p>
                </div>
    
                <div class="col-md-6" style="background: lightgoldenrodyellow">
                    <p>I am a student</p>
                </div>
            </div> <!-- /.row -->
    
            <div class="row">
                <div class="col-sm-8 col-lg-9" style="background: lightpink">
                    <p>This is the main content</p>
                </div>

                <div class="col-sm-4 col-lg-3" style="background: lightcyan">
                    <p>This is the sidebar</p>
                </div>
            </div> <!-- /.row -->
        </div>
    </body>
</html>
